<h1>Hola, {{user.nombre}}</h1>

{{#if esTutor}}
<p>Sos Tutor</p>
{{#each cursos}}
    <div>
        <p>{{this.numCurso}} {{this.dia}} {{this.horario}}</p>
    </div>
{{/each}}
{{else}}
<p>No sos Tutor</p>
{{/if}}

