
{{#each listaproductos}}

<div>
  <h2>{{title}}</h2>
  <h3>Precio: ${{price}}</h3>
  <h3>Categoría: {{category}}</h3>
  <div>
    <h3>Descripción:</h3>
    <p>{{description}}</p>
  </div>
  <h3>Stock: {{stock}}</h3>  
  <h3>Código: {{code}}</h3>
</div>     
    
{{/each}}



