<h1>Crear Nuevo Producto</h1>
<form id="idForm">
    <label for="title" class="form-label">Title</label>
    <input type="text" required name="title">
    <label for="description" class="form-label">Description</label>
    <input type="text" required name="description">
    <label for="category" class="form-label">Category</label>
    <input type="text" required name="category">
    <label for="price" class="form-label">Price</label>
    <input type="number" required name="price">
    <label for="stock" class="form-label">Stock</label>
    <input type="number" required name="stock">
    <label for="code" class="form-label">Code</label>
    <input type="string" required name="code">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form><br><br>

<h1>Lista de Productos</h1>

<div id="listaProductos" class="row-gap-3 d-flex align-content-around flex-wrap" >
{{#each listaproductos}}

<div class="card text-center mt-2 mb-2" style="width: 18rem;">
  <h2 class="card-title">{{title}}</h2>
  <h4>Precio: ${{price}}</h4>
  <h5>Categoría: {{category}}</h5>
  <div class="border rounded-4"> 
    <h4>Descripción:</h4>
    <p class="card-text">{{description}}</p>
  </div>
  <h5 class="mt-2">Stock: {{stock}} || Código:{{code}}</h5>  
</div>  
    
{{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
